
#Loginsections{
    background-image: url(../../Assets/Images/Body/backgroundimage.jpg);
    background-size: 100vw 100vw;
    background-repeat: no-repeat;
    /* background-clip: border-box; */
    background-size: cover;
    opacity: ;
}